{% extends 'blog/base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid text-center">
    <h1>Events</h1>
</div>
<div class="container container-fluid text-center">
    {% for event in events %}
        <h2 class="jumbotron jumbotron-fluid" style="font-weight: 800;">{{ event.title }}</h2>
        <h4>{{ event.event_date }}</h4>
        <img src="{{ event.banner.url|safe }}" height="300px">
        <p>
            {{ event.description|safe }}
        </p>
        <div class="dropdown-divider">
        </div>
    {% endfor %}
    </div>
{% endblock %}