.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-inner {
    height: 500px;
}
html {
    transition: 100ms;
}
body {
    font-family: 'Dosis', sans-serif;
}
.my-icons-white {
    font-size:inherit;
    color:white
}
.my-icons-dark {
    font-size: inherit;
    color: rgb(110, 146, 255);
}
.dropdown-toggle::after {
    content: none;
}
.vatsim-stats .vatsim-event {
    text-decoration: none;
    color: rgb(110, 146, 255);
}
.vatsim-stats:hover{
    text-decoration: none;
    color: white;
}
.vatsim-event:hover {
    text-decoration: none;
    color: black;
}
.fa {
    padding: 10px;
    text-align: center;
    margin: 2px 2px;
    text-decoration: none;
    color: rgb(45, 45, 45);
    background: transparent;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}